
.ticket-id {
    color: #6c757d;  
    font-weight: 400;
    font-size: 13px;
    font-family: monospace, sans-serif;
}
.ticket-time {
    font-size: 12px;
    color: #6c757d;
    font-weight: normal;
}
.ticket-ref {
    font-size: 12px;
    color: #6c757d;
}

