@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<!-- Create new ticket button -->
<div class="create-ticket-btn">
    <button href="/createTicket" class="btn-new-ticket" @onclick="NavigateToCreateTicket">
        <i class="bi bi-plus-lg"></i> Create New Ticket
    </button>
</div>

@code {
    private void NavigateToCreateTicket()
    {
        NavigationManager.NavigateTo("/createTicket");
    }
}