@rendermode InteractiveServer
@inherits LayoutComponentBase
<div class="wizard-step-container">
    <div class="wizard-content">
        <h3>Opprett en ny sak</h3>
        <p>Velg hvilken type sak du vil opprette</p>

        <div class="category-list">

        </div>
    </div>
</div>