<div class="wizard-step-container">
    <div class="wizard-content">
        <h3>Opprett en ny sak</h3>
        <p>Velg hvilken type sak du vil opprette.</p>
        <div class="form-group">
          <label class="custom-file">
            <input type="file" name="" id="" placeholder=">" class="custom-file-input" aria-describedby="fileHelpId">
            <span class="custom-file-control"></span>
          </label>
          <small id="fileHelpId" class="form-text text-muted">Help text</small>
        </div>
    </div>
</div>